@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

::placeholder {
  /* The input and its placeholder must have matching font styles; for manupulating placeholder fonts*/
  font-size: 20px;
  font-family: inherit;
  font-weight: 400;
}

.better-form {
  &__container {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f4f4f4;
  }

  &__group {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__group:not(:last-child) {
    margin-bottom: 50px;
  }

  &__input {
    height: 50px;
    width: 250px;
    padding: 15px;
    border: none;

    /* border-bottom: 2px solid transparent; */
    transition: all 0.5s;
    font-size: 18px;
    font: inherit;

    /* this makes placeholder disapper upon foucs */
    &:focus::placeholder {
      color: transparent;
    }

    &:focus {
      outline: none;
      /* border-bottom: 2px solid black; */
    }

    &:focus ~ .better-form__label {
      z-index: 0;
      opacity: 1;
      transform: translateX(6px) translateY(-68px);
    }

    &:focus ~ .better-form__border {
      width: 250px;
    }
  }

  &__label {
    display: inline-block;

    font-size: 14px;
    transition: all 0.5s;
    z-index: -1;
    opacity: 0;
    transform: translateX(6px) translateY(-20px);
  }

  &__border {
    position: absolute;
    top: 50px;
    left: 0;

    width: 0px;
    height: 2px;

    transition: all 0.4s;

    background-color: rgb(49, 175, 76);
  }
}
